@import '../variables';

.destacado-mobile{
    height:370px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px;
    padding: 0;
}

$length: 370px;

.destacado-mobile__circle{
    height: $length;
    width: $length;
    border-radius: $length;
    background: linear-gradient(45deg, #CADEE5, #E1D5E5);
    filter: saturate(3);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destacado-mobile__floating{
    width: $length;
    height: 0px;
}

@keyframes floating{
    0%{
        transform: translateY(-290px) translateX(-80px) scale(1.08);

    };
    100%{

        transform: translateY(-200px) translateX(-45px) scale(1.0);


    }
}

@keyframes floating2{
    
    0%{

        transform: translateY(-340px) translateX(390px) scale(1.0);

    };
    100%{
        transform: translateY(-250px) translateX(355px) scale(1.08);
    };
}

@keyframes cards1{
    
    0%{
        transform: translateY(-180px) translateX(-105px) scale(1.04);
    };
    100%{

        transform: translateY(-250px) translateX(-125px) scale(1.0);

    };
}

@keyframes cards2{
    0%{
        transform: translateY(-630px) translateX(240px) scale(1.0);
    };
    100%{
        transform: translateY(-700px) translateX(260px) scale(1.04);
    };
}



.destacado-mobile__floating-item--1{
    animation: floating 7s infinite alternate;
}

.destacado-mobile__floating-item--2{
    animation: floating2 8s infinite alternate; 
}

.destacado-mobile__cards{
    width: $length;
    height: 0px;
}

.destacado-mobile__cards-item--1{
    animation: cards1 8s infinite alternate;
}

.destacado-mobile__cards-item--2{
    animation: cards2 9s infinite alternate;
}