@import '../variables';

.destacado-mobile{
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

$length: 370px;

.destacado-mobile__circle{
    height: $length;
    width: $length;
    border-radius: $length;
    background: linear-gradient(45deg, #CADEE5, #E1D5E5);
    filter: saturate(3);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destacado-mobile__floating{
    width: $length;
    height: 0px;
}

@keyframes floating{
    0%{
        transform: translateY(-130px) translateX(-475px);
    };
    100%{

        transform: translateY(-80px) translateX(-465px);

    }
}

@keyframes floating2{
    
    0%{

        transform: translateY(-60px) translateX(-45px);

    };
    100%{
        transform: translateY(-120px) translateX(-35px);
    };
}

@keyframes cards1{
    
    0%{
        transform: translateY(20px) translateX(-465px);
    };
    100%{

        transform: translateY(-60px) translateX(-475px);

    };
}

@keyframes cards2{
    0%{
        transform: translateY(-460px) translateX(-165px);
    };
    100%{
        transform: translateY(-520px) translateX(-155px);
    };
}



.destacado-mobile__floating-item--1{
    animation: floating 5.5s infinite alternate-reverse;
}

.destacado-mobile__floating-item--2{
    animation: floating2 5s infinite alternate-reverse; 
}

.destacado-mobile__cards{
    width: $length;
    height: 0px;
}

.destacado-mobile__cards-item--1{
    animation: cards1 4s infinite alternate-reverse;
}

.destacado-mobile__cards-item--2{
    animation: cards2 3s infinite alternate-reverse;
}