body{
    margin: 0;
    padding: 0;
}

@import './base/card';
@import './components/destacadoMobile';
@import './base/floatingCards';
@import './variables';

body{
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}